.App {
  text-align: center;
}

<<<<<<< HEAD
.App-header {
  background-color: #282c34;
=======
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
>>>>>>> 1a618f0fb536f4fcc52b1b094f707e5c552a08c1
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
<<<<<<< HEAD
  color: white;
}

.Square {
  margin: 25px auto;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  background-color: #ccc;
  border: #000 1px solid;
  border-radius: 25px;
}
=======
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
>>>>>>> 1a618f0fb536f4fcc52b1b094f707e5c552a08c1
